// Base colors.
$neutral: #D4CAA0;
$neutral-light: #B3BC92;
$neutral-dark: #1B343C;
$neutral-2: #8E8F7F;

$text-color: $neutral-dark;

// Other colors.
$red: #DD1111;
$orange: #B96F20;
$yellow: #edb443;
$magenta: #EC5082;
$violet: #2B2D41;
$blue: #00A9C7;
$cyan: #33859E;
$green: #1B3E31;
