.issue-list{
  margin: 0em;
  padding: 1em;
  @include flex(1);

  .header{
    text-align: center;
    padding: 1em;
    h2{
      margin-top: 0;
    }

    .button{
      margin: 0 1em;
    }
  }

  .list-container{
    margin: 0;
    padding: 0;
  }
}

.issue{
  @extend %clearfix;
  @include flexbox(); 

  @include box-shadow(10px, 10px, 24px, rgba(0,0,0,0.75));

  background-color: $neutral-light;
  list-style: none;  
  margin-bottom: 1em;
  padding: 1em;

  .left-panel{
    @include flex(initial);
    margin: 0 1em 1em 0;
    height: 100%;

    .labels{
      @include flexbox();
      @include flex-direction(column);
      .label{
        margin-top: 0.5em;
      }
    }
  }

  .right-panel{
    @include flex(1);
    height: 100%;
  }

  .num{
    &::before{
      content: '#';
    }
    font-size: 1.3em;
  }

  .title{
    font-size: 1.3em;
    word-wrap: break-word;
  }

  .user{
    margin-top: 0.5em;
    text-align: center;
    img{
      width: 75px;
      height: 75px;
    }
    .name{
      font-size: 0.7em;
    }
  }

  .body{
    font-size: 0.8em;
    word-break: break-all;

    h1,h2,h3,h4,h5{
      font-size: 0.9em;
    }
  }

  .labels{
    float: left;
    color: #EEE;
    @include text-stroke(2px);

    .label{
      @include rounded(5px);
      float: left;
      padding: 0.4em 0.6em;
      margin-right: 0.5em;
    }
  }
}

.comment .issue{
  border-top: 1px solid $grey;
  margin-left: 2em;
  margin-bottom: 0em;
  @include box-shadow(0px, 0px, 0px, rgba(0,0,0,0));
}