//mixins
@import 'mixins/clearfix';
@import 'mixins/media';
@import 'mixins/box-shadow';
@import 'mixins/vertical-align';
@import 'mixins/flex';
@import 'mixins/text-stroke';
@import 'mixins/rounded';

@import 'normalize';
@import 'colors';
@import 'fonts';
@import 'icons';
@import 'buttons';
@import 'issueList';

@import 'layout';

body {
  font: 100% $font-stack;
  font-size: $font-size;
  color: $text-color;
  background: $neutral;
}

a{
  text-decoration: none;
  color: $blue;
  transition:all 0.3s ease;
  &:hover{
    color: darken($blue, 100);
    text-decoration: underline;
  }
}
